[2018-07-25 22:41] vsreekanti opened #1 "Cluster state should be stored in S3 for recovery"
Soft state about the cluster configuration should be periodically checkpointed to S3 for recovery & sanity. This includes:

* The numbers, identities, and roles of each node
* The partitioning scheme for multiple monitoring nodes
* ...

[2018-07-25 22:44] vsreekanti opened #2 "Node failure protocol is broken"
We currently rely on Kubernetes to detect when nodes or containers fail and to bring them back up, but our software doesn't do the right thing on top of that.

When a node fails, k8s detects that its failed and restarts it with the same IP it had before it failed. The restarted node announces itself to the rest of the cluster with the same IP it had previously. The problem is that this IP will not

[2018-07-25 22:45] vsreekanti opened #3 "Hierarchical namespaces"
The key value store currently only has a flat, global namespace. Hierarchical namespacing would be nice. We should also have privileged namespaces for things like system metadata, so that we don't have to rely on wonky key naming formats.

[2018-07-25 22:45] vsreekanti opened #4 "Reduce per-key metadata overheads"
There are a few places in which we could reduce metadata overheads:

* Instead of tracking key access frequencies for every single key in the database, we should instead use a heavy hitters sketch to track the most frequently accessed keys.
* We shouldn't explicitly cache and materialize the replication factor for a key whose rep factor is the default rep factor.
* Depending on how we use key size

[2018-07-25 22:45] vsreekanti opened #5 "Key doesn't exist error returned during repartitioning"
When nodes are added or removed from the cluster, we incrementally repartition data by gossiping keys to the new sets of nodes responsible for them. However, we immediately change the hash ring to reflect the new cluster state. As a result, requests will sometimes be sent to an old node once the key has been gossiped to a new node or to a new node that hasn't yet received the key. The result is th

[2018-07-25 22:46] vsreekanti opened #6 "Put system configuration parameters into KVS at runtime"
There a bunch of system parameters that are configured in conf files and initialized as runtime variables, like the number of threads on a particular node type and the default replication factor. If we eventually want to make our policy engine pluggable and have privileged functions with access to system parameters, it would be nice if these were retrievable and modifiable from within the system.

[2018-07-25 22:46] vsreekanti opened #7 "Colocate routing and memory tier processes"
We want to do this for a few reasons:

* Reduce resource overhead & cost from having explicit routing tier
* Enables more efficient request lifecycle -- `GET` requests can be transferred directly from the routing process to the server process for response

[2018-07-25 22:48] vsreekanti opened #8 "Node removal is broken in kops scripts"
The current node removal scripts `k8s/remove-node.sh` relies on an older version of the naming scheme for nodes. As a result, it doesn't actually do anything because it tries to delete nodes that don't actually exist.

[2018-08-11 04:31] #8 closed

[2018-08-28 23:51] vsreekanti opened #10 "Change kops pod to use ZeroMQ instead of Flask"
There's no reason to have to make REST requests to the kops pod. We should just use ZeroMQ for consistency.

[2018-08-29 21:09] #10 closed

[2018-09-07 17:34] vsreekanti opened #12 "Expose non-last writer wins lattices to users"
Currently, all data is stored in a last-writer-wins lattice by default. We should expose lattices that are already supported for other operations as well -- e.g., we might want to store a set of things, and that set should be able to be merged instead of being overridden as a stream of bits.

[2018-09-07 23:08] vsreekanti opened #14 "Enable run-time specification of conf file via Kubernetes"
All the run-time constants that the KVS relies on are now encapsulated in `conf/kvs-config.yml`, which means that we don't need to recompile the server in order to change them. This is great, but the problem is that they are fixed in the Docker image, which means that we **do** need to rebuild the Docker image to change constants, which is just as silly.

Instead, we should allow users to specify

[2018-09-10 02:11] mia0x75 opened #15 "Compile errors and warnings"
[code]

[code]
Im running Fedora 28 x86-64.

[2018-09-10 10:43] lemonlinger opened #16 "fail to install dependencies on OSX"
./scripts/install-dependencies-osx.sh
Installing the following packages via homebrew:
	* autoconf
	* automake
	* libtool
	* build-essential
	* unzip
	* pkg-config
	* wget
Updating Homebrew...
Error: No available formula with the name "build-essential"
Warning: homebrew/core is shallow clone. To get complete history run:
  git -C "$(brew --repo homebrew/core)" fetch --unshallow

Error: No previousl

[2018-09-10 10:48] lemonlinger commented on #15
+1 got the same issue on aws linux ec2

[2018-09-10 16:55] vsreekanti commented on #16
Hi @lemonlinger, thanks for catching this. Can you please try again with the script [here](https://github.com/fluent-project/fluent/pull/17)? We'll wait to merge that PR until we hear from you (or someone else) that this works.

It works locally for me, but I just want to make sure that  there aren't any hidden dependencies that are required.

[2018-09-10 17:03] vsreekanti commented on #15
The error is here: ```[ 12%] Building CXX object CMakeFiles/flproto.dir/requests.pb.cc.o
In file included from /src/github.com/fluent-project/fluent/build/requests.pb.cc:4:
/src/github.com/fluent-project/fluent/build/requests.pb.h:7:10: fatal error: 'string' file not found
#include <string>
         ^~~~~~~~
[code]

[2018-09-10 18:00] vsreekanti opened #18 "Rebuild Docker images when merging to master"
When a change is merged to `master`, we should build a Docker image and push to Dockerhub. We need to create a Dockerhub account for the project first before doing this as well.

[2018-09-11 08:01] qinhunter commented on #15
Similar problem on centos7. It could be solved by
`sudo yum install libcxx`
`sudo yum install libcxx-devel.x86_64`
But I got another problem then.
`-- Check for working CXX compiler: /usr/bin/clang++ -- broken
CMake Error at /usr/local/share/cmake-3.12/Modules/CMakeTestCXXCompiler.cmake:45 (message):
  The C++ compiler

    "/usr/bin/clang++"

  is not able to compile a simple test program.

  It

[2018-09-11 14:15] andyli029 commented on #16
It works, but lcov has some problem:
[code]

[2018-09-11 19:05] vsreekanti commented on #15
On an Amazon Linux instance, I got the following to work:

1. Installing clang-5.0 (what we compile with by default) using the pre-built LLVM binaries [here](http://releases.llvm.org/download.html). Download and move the whole directory into `/usr/bin/clang`.
2. Using `update-alternatives` to link `/usr/bin/clang++` to `/usr/bin/clang/bin/clang++`.
3. Running `sudo yum groupinstall "Development To

[2018-09-11 22:05] vsreekanti commented on #15
Another update: It looks like the reason that the protobuf installation is failing is because `./configure` script is invoking a `libcxxabi` function call that depends on version 2.18 of `glibc`, the default version on Amazon Linux is 2.17. I tried to install a new version, but that broke... basically everything. :-) As I said earlier, I don't know if this generalizes to other Fedora distributions

[2018-09-12 18:17] #16 closed

[2018-09-13 02:30] andyli029 commented on #16
@cw75 https://github.com/andyli028/fluent/commit/1b2261dc81541cf2a185d3e6f9d73c0ba91730d0
the pr is not merged?

[2018-09-13 11:04] authwork opened #20 "[Compile issue] Compiling fluent with GNU g++"
Hi, I encounter a problem:
I pay attention on that the default compiler is clang.
Is it possible to use GNU g++ to compile this project, thus I can easily use it in my other projects?
I used to directly add the path of dependent libs to the CMake configuration files, and replace clang++ with g++ but failed.

Many thanks

[2018-09-13 18:49] vsreekanti commented on #20
Hi @authwork. At the moment, we haven't yet supported compiling with gcc/g++. I don't have a ton of experience with g++, so this is not something I'd be able to address quickly, but if you or anyone else would like to look into what would be necessary to support both gcc and clang, we'd love your contributions. Thanks!

[2018-09-13 23:58] vsreekanti opened #21 "Hash Ring API should expose ordered data structures"
Currently, the `responsible_*` and `get_responsible_threads` methods return `ServerThreadSet` objects, which are `typedef`ed `unordered_set`s. However, the hash ring is actually order-sensitive, and there are cases where we want to exploit that order. The example that prompted this issue was in the `node_join_handler` in the server logic -- we want the _first_ node to gossip lost data back to a re

[2018-09-18 20:45] #15 closed

[2018-09-18 20:46] vsreekanti commented on #15
Hi all, this should be fixed now. As of #23, we can now compile Fluent with GNU g++. I tested this on an Amazon Linux instance, and it compiles fine. There are some compile warning, but the processes all start fine. Please let me know if you run into anymore issues.

[2018-09-18 20:47] vsreekanti commented on #20
Hi @authwork, as of #23, you should be able to compile with g++. This has been tested with both GCC 4.8 and 5.4 (the default versions installed on Amazon Linux and on Ubuntu 16.04). Please let me know if you run into any issues.

Closing this.

[2018-09-18 20:47] #20 closed

[2018-09-19 18:00] vsreekanti opened #25 "Make Kubernetes pod ids monotonically increasing"
We currently assume implicitly that pods never die because we assign pod ids by incrementing the _count_ of the current number of pods. This is bad, because we might have a situation in which a pod dies (say `memory-pod-n`), so the count becomes `n-1`. If we increment the count, we'll next create `memory-pod-n`, which already exists and will fail.

[2018-09-20 09:28] perry020 opened #27 "error while running the scrpit/build-all.sh"
While running this script, some source files turn out error, and the message is : no member named 'cerr' in namespace 'std'
It only can be build if I add the #include \<iostream\> in these files
os : mac high sierra 10.13.6

[2018-09-20 16:10] vsreekanti commented on #27
Hi @perry020, can you please let us know what compiler you were using, and what flags you passed to the script? Thanks!

[2018-09-20 22:18] #25 closed

[2018-09-21 17:44] vsreekanti opened #28 "Monitoring node periodically fails with an stoi exception"
The monitoring node fails with an uncaught exception on a call to `stoi`. I assume this is because of the changes introduced in #22 with the rejoin count. I think it should be an easy fix once you track down where this is happening.

[2018-09-22 01:05] soarway commented on #27
[ 16%] No install step for 'zeromq'
[ 17%] Completed 'zeromq'
[ 17%] Built target zeromq
make: *** [all] Error 2

[2018-09-22 01:09] cw75 commented on #27
Hi @soarway, could you please let us know what operating system and compiler are you using? Thanks.

[2018-09-22 03:44] authwork commented on #20
Hi @vsreekanti
Many thanks for your efficient work.
I encounter the same problem~(i.e., I used to directly add the path of dependent libs to the CMake configuration files, and replace clang++ with g++ but failed.)
I am using Ubuntu 18.04 and g++ (Ubuntu 7.3.0-16ubuntu3) 7.3.0
Protobuf is 3.5.1,
The command I use, like following:
# install dependencies compiled via g++

# build all

The problems ar

[2018-09-22 17:39] vsreekanti commented on #20
Hi @authwork, when you run the `build-all.sh` script, please pass in the `-g` flag (i.e., `./scripts/build-all.sh -g`. That will make the compilation use g++ instead of clang++, which I believe should fix this problem.

[2018-09-22 18:27] authwork commented on #20
Hi @vsreekanti ,
In my command: export COMPILER=/usr/bin/g++ && ./scripts/build-all.sh
I have configured COMPILER to be /usr/bin/g++, which has similar function with '-g' flag.
=================
g )
     COMPILER="/usr/bin/g++" # this is what I set as an environment variable
     RUN_FORMAT=""
     echo "Compiler set to GNU g++..."
     ;;
   \? )
=================

I also try the command : ./scri

[2018-09-22 18:33] vsreekanti commented on #20
Hm. The reason I suggested setting `-g` was because that removes the `-stdlib=libc++` flag from the compilation (see [here](https://github.com/fluent-project/fluent/blob/master/CMakeLists.txt#L35-L44)), which seemed to be the issue you were referring to above. I don't have access to an Ubuntu 18.04 machine at the moment, but I'll see if I can get my hands on one on Monday and let you know if I'm a

[2018-09-22 18:48] authwork commented on #20
Oh, that's my fault to forget mention this place,
I have tried the modified version of this [repo](https://github.com/XinYao1994/anna) but also failed with same issue.
In the [modification](https://github.com/XinYao1994/anna/commit/581a8d055a6be776c3c9161a2bdcae0776fdedbb), I pay attention to that this flag has been updated.

But I guess I may be find the problem:
I forget to configure protobuf wi

[2018-09-22 19:10] vsreekanti commented on #20
I see. Yes, the latest version of this repository changes all configurations based on the underlying compiler, including for the yaml-cpp dependency. We are not supporting https://github.com/ucbrise/anna -- that's a snapshot of a previous version of the project.

[2018-09-22 19:18] authwork commented on #20
Hi, @vsreekanti ,
Yes, of course. I just search some solutions from the Internet.
I have tried Ubuntu 16.04 and it can be successfully built. Cheers! :)

However, I try to reconfigure protobuf with CXXFLAGS='-std=c++11 -O3 -g' on Ubuntu 18.04 but still failed.

Many thanks

[2018-09-23 02:48] authwork commented on #20
I carefully read the scripts again, I still think:
'export COMPILER=/usr/bin/g++ && ./scripts/build-all.sh' has the same function with './scripts/build-all.sh -g'
As we can see, -g flag is only used to set COMPILER="/usr/bin/g++" , which I set as an environment variable.
And it is passed to the flag of cmake,
i,e,. cmake -std=c++11 "-GUnix Makefiles" -DCMAKE_BUILD_TYPE=$TYPE -DCMAKE_CXX_COMPILER=$

[2018-09-23 06:59] cw75 opened #30 "Debug mode fails to compile"
I got `cannot find /usr/local/lib/clang/6.0.0/lib/linux/libclang_rt.profile-x86_64.a` when building the repo in "Debug" mode

[2018-09-23 07:00] cw75 opened #31 "Use Macros instead of numbers for the tier ID"
Currently, we use numbers (1,2,3) to refer to tier IDs in the codebase. We should probably use Macros instead.

[2018-09-23 16:06] vsreekanti commented on #30
Well, Debug mode is how Travis compiles the project. 😄 I think you might have to pass in `-t` along with `-bDebug`, or it'll fail otherwise. Can you test that out for me? It might make sense to just collapse the two issues.

[2018-09-23 16:08] vsreekanti commented on #20
Hi @authwork, thanks for this information. Glad to hear you got everything working! Let us know if you have any questions with the system moving forward.

[2018-09-23 21:47] cw75 commented on #30
I ran with `./scripts/build-all.sh -j4 -bDebug -t` but got the same error :(

[2018-09-23 21:48] cw75 commented on #27
@soarway were you running with Debug mode or release mode? Did you pass any flag to `scrpit/build-all.sh`?

[2018-09-23 22:38] vsreekanti commented on #30
Okay, we can debug tomorrow. It works on my laptop, on Travis, and on Ubuntu 16.04 and 14.04, so it must be a configuration / mismatched parameter issue.

[2018-09-24 02:56] soarway commented on #27
@cw75  Release  mode

[2018-09-25 06:11] cw75 commented on #27
@soarway there should be lines in the middle where it says certain error occurred (in addition to the `make: *** [all] Error 2`). Could you please let us know what these errors are? Thanks.

[2018-09-25 06:31] cw75 commented on #27
@soarway which compiler are you using? g++ or clang++?

[2018-09-25 06:40] cw75 commented on #27
@soarway have you run `./scripts/install-dependencies.sh`?
could you paste the output when running this script? Your Clang version looks a bit old, and I am not sure if the `libc++-dev libc++abi-dev` are installed

[2018-09-25 06:51] soarway commented on #27
@cw75
[root@aaz fluent-master]#  ./scripts/install-dependencies.sh g++
Detected that this is a Fedora-based distribution.
Setting compiler to g++...
Installing the following packages via yum:
        * autoconf
        * automake
        * libtool
        * build-essential
        * make
All dependencies installed!

[root@az fluent-master]#  ./scripts/install-dependencies.sh
Detected that this is

[2018-09-25 06:52] soarway commented on #27
@cw75        My os ： CentOS Linux release 7.5.1804 (Core)

[2018-09-25 06:55] soarway commented on #27
@cw75
[root@i4z fluent-master]# yum install gcc-c++ libstdc++-devel
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
Package gcc-c++-4.8.5-28.el7_5.1.x86_64 already installed and latest version
Package libstdc++-devel-4.8.5-28.el7_5.1.x86_64 already installed and latest version
Nothing to do
[root@i4z fluent-master]# yum install gcc
Loaded plugins: fastestmirror
Loading mir

[2018-09-25 07:01] cw75 commented on #27
@soarway Could you run `./scripts/build-all.sh -g`?
the `-g` flag should set the compiler to g++

[2018-09-25 07:10] soarway commented on #27
@cw75        Use g++， success。
[100%] Built target run_server_handler_tests
Thanks  you！

[2018-09-25 07:18] cw75 commented on #27
👍

[2018-09-25 07:18] #27 closed

[2018-09-26 23:34] gamache opened #32 "build-all.sh fails on OS X 10.13.6"
Hi! I'm trying to build Fluent on my 2013 MacBook Pro running OS X 10.13.6, and I hit a problem once I get to `flkvs-ring`:

[code]

<details><summary>
Click here for the full output of <tt>scripts/install-dependencies-osx.sh</tt> and <tt>scripts/build-all.sh</tt>.

</summary>

[code]
</details><br>

Thanks for any help!

[2018-09-28 17:56] cw75 opened #33 "Distribute the monitoring system"
Currently, the monitoring system runs single node single threaded, which could be a bottleneck when we increase the scale of the workload. We should make it multi-threaded and distributed!

[2018-09-28 17:58] cw75 opened #34 "Gossip keys based on access frequency"
Currently, all keys are gossipped under the same gossip period. Ideally, we should adjust the gossip frequency based on the access frequency. Hot keys will be gossipped more often and cold keys less often.

[2018-10-05 16:32] vsreekanti commented on #32
Hi @gamache, sorry for the late response. The last couple weeks have been a little crazy.

It looks like you're using Clang v10, which we haven't tested with. I've built the system with clang-5, clang-6, and clang-7 at various points, and I've never seen this issue. A quick Google search seems to indicate that this is because `#include <iostream>` is missing. Can you try including that in `kvs/inc

[2018-10-05 16:36] vsreekanti commented on #30
@cw75, can you post some more detail for this?

[2018-10-23 00:07] vsreekanti commented on #28
This was fixed in #36.

[2018-10-23 00:07] #28 closed

[2018-10-23 00:09] vsreekanti commented on #21
This was fixed in #35.

[2018-10-23 00:09] #21 closed

[2018-10-31 08:58] lordrings104 opened #39 "can't find scripts/build-kvs.sh"
can't find scripts/build-kvs.sh

[2018-10-31 16:22] vsreekanti commented on #39
Hi @lordrings104, sorry for the error in documentation. We currently don't have any non-KVS components linked into the project, so you can simply use `scripts/build-all.sh`, and it will build the KVS. Sorry again!

[2018-11-05 21:59] #30 closed

[2018-11-06 17:58] #2 closed

[2018-11-09 03:01] zhaohansprt opened #45 "why use c++ not rust?"

[2018-11-09 06:43] huangll99 opened #46 "Fail to install dependencies on Centos7.2"
Detected that this is a Fedora-based distribution.

No compiler is specified. Default compiler is clang++.
We currently are unable to support clang++ installation on Fedora distributions.

[2018-11-09 17:40] vsreekanti commented on #46
Hi @huangll99. I have been unable to build the project with `clang` on Fedora, so we have to default to using `gcc` instead. If you build with the `-g` flag, that will tell the script to use `gcc` instead of `clang`. Let me know if you have any other questions.

[2018-11-09 19:31] vsreekanti commented on #45
Hi @zhaohansprt. We are using C++ because it's generally accepted as the language to use for systems software. While Rust is an interesting language, it is not as widely used.

[2018-11-10 02:56] zhaohansprt commented on #45
thanks for reply, as  the rust 2018 edition being released i would recommending  every brilliant project or geek to try out ,I heard your use actors design  for this project so I can commend the [actix ](https://github.com/actix/actix) for you  which  is ready for production,hope you like it     😊

[2018-11-12 01:44] huangll99 commented on #46
thanks a lot

[2018-11-12 01:44] #46 closed

[2018-11-28 10:14] lengrongfu opened #49 "Anna how tow use?"
My should have a anna docker image,place how toe use thes docker?

[2018-12-03 15:21] mogorman opened #51 "python client causes fluentkvs to segfault"
i am trying to run fluentkvs and perform a query on it using the included python client it crashes on all get and put queries

[code]
[code]

[2018-12-03 18:34] vsreekanti commented on #51
Hi @mogorman, currently the Python client is only set to run against an AWS cluster. The ports it's set to run against are the ports the Elastic Load Balancer listens on. I'll have a PR to fix this soon. In the meantime, if you want to use the Python client, please do the following:

1. In the Python client, change the `ELB_PORTS` list to be `ELB_PORTS = [6450,]`.
2. Run `./scripts/start-kvs-local

[2018-12-04 22:13] mogorman commented on #51
thanks @vsreekanti that solved my problem I will make a port parameter for the python library. one thing that surprised me was that variables i put in via the flkvs-cli aren't visible to python code, and vice versa.

[2018-12-05 15:51] mogorman commented on #51
https://github.com/fluent-project/fluent/pull/52

[2018-12-05 17:45] vsreekanti commented on #51
Thanks for the PR, @mogorman! I didn't understand the second part of your previous message:

```one thing that surprised me was that variables i put in via the flkvs-cli aren't visible to python code, and vice versa.```

Is this still a problem you're facing? If so, would you mind expanding?

[2019-01-15 06:53] leftjs opened #53 "can u avoid clock unsync between several servers ?"
Hi, Riselab's researchers:
I see ur `rc_pair_lattice.cpp` lattice merge function and `generate_timestamp` function in ur `common.hpp`, I see u just use max timestamp to decide whether needing replace current obj, eg. if a key have n replicas across several servers, one of them has been updated by a new value, but because of time gaps between these servers, maybe updated values's timestamp less tha

[2019-01-15 07:58] leftjs commented on #53
like [siblings in riak](http://docs.basho.com/riak/kv/2.2.3/developing/usage/conflict-resolution/#siblings), Do u think that Anna need this feature when I want to use in Anna in production?

[2019-01-15 17:33] vsreekanti commented on #53
Hi @leftjs -- thanks for your question. We haven't explicitly made any efforts to overcome clocks being unsynchronized across servers. CRDTs do not do any work to automatically resolve these gaps. Whether that feature is something you need or not depends on the requirements of your application, but we imagine that it's something some applications will indeed need.

This is related to #12 -- we hav

[2019-01-15 17:33] #51 closed

[2019-01-15 17:33] #49 closed

[2019-01-15 17:34] #39 closed

[2019-01-15 17:35] #32 closed

[2019-01-15 17:50] cw75 commented on #53
@leftjs and in addition to Vikram's comment, one of the main features of Anna is its coordination-freeness, and synchronizing the clocks between servers requires coordination. So if your application does have such a requirement, currently you will need to enforce it at the application level.

[2019-01-16 04:33] #53 closed

[2019-01-16 04:34] leftjs commented on #53
tks for ur replies

[2019-01-16 05:27] chenziyi2018 opened #54 "how to integrate them in spring or spring boot？"
do anyone know how to use them in spring or springboot or a website of tutorial?
very thanks!

[2019-01-16 15:45] ivanopagano commented on #54
What are you asking exactly?
This is not a java library if that's the question...

It's a datastore, similar to a database, so you run it as a service somewhere and talk to it via API calls, independently of the web-framework you might be using.

[2019-01-17 22:00] cw75 commented on #54
@chenziyi2018 we agree with @ivanopagano.

[2019-01-22 03:44] leftjs opened #55 "Any advices of compaction & compression integrate with Anna's actor ?"
Hi, riselab's researchers:

I have seen your kv write function, it's just a normal file i/o.

Anna can get high throughput but can't get similar compression rate like cassandra or scylla.

if I want to implement some LSM features in an Anna's actor thread, features as follows:

1. memtables and WAL for cache write
2. a background thread, that can check memtable size, and flush to ssfile when memta

[2019-01-22 20:03] #54 closed

[2019-01-25 19:03] #18 closed

[2019-01-30 18:02] #14 closed

[2019-02-12 05:46] cw75 opened #62 "Eliminate redundant gossip during durable PUT"
Currently, durable PUT is implemented by letting the client issuing multiple PUT requests to servers that hold replicas. These servers, however, will again gossip the payload to each other, which is redundant. We should eliminate these gossips to improve performance.

[2019-02-20 21:28] haal opened #67 "Broken FaaS API link in docs"
In [docs](https://github.com/fluent-project/fluent/blob/master/docs/index.md) link to function api is broken. Also, same on [getting started](https://github.com/fluent-project/fluent/blob/master/docs/getting-started.md)

[2019-02-21 21:09] #31 closed

[2019-03-06 17:27] vsreekanti commented on #67
Hi @haal, thanks for pointing this out. That link shouldn't have been added yet, as we haven't written any documentation for the FaaS layer. We're still working on the details of the FaaS API, and if this is something you have opinions on, we'd love to chat more.

Sorry for the late response!

[2019-03-07 01:30] #12 closed

[2019-03-10 13:25] haal commented on #67
Hi @vsreekanti, at the moment I just want to learn about this project and do some begginer excercises so this is how I found those links.
I am in learning phase so I am not sure that I can help anyhow with FaaS layer, but maybe with some introduction/getting started tutorials.

[2019-04-04 19:50] vsreekanti opened #85 "Random KVS server ZMQ error"
The KVS server crashes at random intervals with a ZMQ error saying that an operation cannot be accomplished in the current state of some socket. This isn't a super useful error message, but my hunch is that this has to do with one of the `REQ/REP` sockets (probably the `func_nodes_requester`?) trying to send a message before receiving one, but I'm not sure.

[2019-05-01 02:29] cw75 commented on #85
I think this is already resolved?

[2019-05-01 02:31] cw75 opened #102 "Infinite recursion error from FaaS tier"
When we spin up FaaS layer before the KVS, the scheduler will run into `infinite recursion` error.

[2019-05-01 02:33] cw75 opened #103 "Merge causal & non-causal modes"
Currently the system operates at either causal mode or non-causal mode.
Refactor the codebase so that it can support both with a single build.

[2019-05-01 02:35] cw75 opened #104 "DAG not found when there are multiple schedulers"
When we have more than one scheduler, the scheduler will crash if it received a DAG call request from the client but the DAG info hasn't been gossiped to it yet.

[2019-05-01 02:38] cw75 opened #105 "Enable a DAG to contain multiple instances of the same function"

[2019-05-01 02:38] cw75 opened #106 "Enable non-sink functions within a DAG to write to KVS"

[2019-05-01 17:41] #55 closed

[2019-05-01 17:42] #85 closed

[2019-05-01 17:42] vsreekanti commented on #102
I have a fix for this. I need to figure out what else is on that branch, but I'll have something mergeable soon.

[2019-05-01 17:43] vsreekanti commented on #104
I think I already fixed this, but it might not be merged yet --- the simple fix is to just say that the DAG doesn't exist yet. We can also check the KVS to see if it exists.

[2019-05-01 17:44] vsreekanti commented on #106
This is already possible. The only thing we have to change to enable this is to have the client library instrument reads/writes to track causal dependencies. Everything else already works.

[2019-05-01 17:52] cw75 commented on #106
The client should also be able to specify which function in the DAG want to write the result to KVS and what's the name of output key.

[2019-05-01 17:57] vsreekanti commented on #106
How is that any different from calling `fluent.put(key, val)`?

[2019-05-01 18:12] cw75 commented on #106
I think letting users embed these calls into functions is fine. Maybe we should just do this: by default the result of a func is only passed to downstream funcs, but if users want it to also write to kvs, then they need to explicitly write `fluent.put(key, val)` inside the func.

[2019-05-01 18:27] vsreekanti commented on #106
Yes, that's how it works right now. That's what I meant when I said the only thing that we needed to change was adding support for causal dependencies.

[2019-05-10 11:29] Waterdrips opened #108 "AWS getting started depends on non namespaced env vars"
fluent/docs/getting-started-aws.md states that it requires NAME and KOPS... env vars

These env vars could
a) conflict with existing setups on a dev machine
b) If found without context they might not be identifiable to the code that uses them

Proposal:
Migrate these to a namespaced (and more descriptive) variable, say FLUENT_NAME or similar

[2019-05-10 11:34] Waterdrips opened #109 "Proposal: Create Docker containers for initialising an AWS cluster"
Motivation:

- I dont want to have to install stuff locally if im only going to use it for this
- Portability - Other OS platforms can run the commands (Windows?) inside docker
- Becomes more robust - specific versions of libs can be installed and tested as a unit rather than having the developer have to manage and debug these

[2019-05-10 11:36] Waterdrips commented on #33
Whats the current solution? There are K8s ways of including monitoring at a node and pod level if required that could be included

[2019-05-22 03:07] swimmingsand opened #110 "Can Anna loss update when node failed before send merge request to other node？"
Anna is multi master system and need coordination-free merge function to implement replica consistency.

Each Anna actor repeatedly checks for incoming requests for puts and gets from client proxies, serves those requests, and appends results to a local change set, which tracks the key-value pair updated within a period of time (the multicast epoch).

Now, during the epoch, if this node failed, An

[2019-05-22 03:24] cw75 commented on #110
Hello,

Thanks for the question. By default, each update (PUT) is acked when it is processed by one node, and so if this node fails before gossiping the update to other replicas, the update will be lost.

Persistence can be achieved via the `put_all` api that forces the PUT to be acked by all replicas before returning.

[2019-05-23 08:12] swimmingsand commented on #110
Hello,
Thanks for you answer.
After I read some code, I found gossiping period time is 10s by default.
[code]
During the period, only one replica's latest data can be seen by client, all other replica's data is not consistent with the replica which processed the PUT operation. This can be a problem for many application.

If client use put_all api, PUT performance can be a problem？

[2019-05-23 17:59] cw75 commented on #110
It is totally true that before the gossip, other replicas will serve stale versions to the clients, and there is actually a fundamental trade-off between staleness and performance in any coordination-free eventually consistent systems.

As you said, for certain applications, this staleness may not be tolerable. In this case we either have to reduce the gossip period (reduce the duration of stalene

[2019-05-28 17:40] vsreekanti commented on #109
Hi @Waterdrips, thanks for all of your suggestions and comments. You can find up-to-date Docker images for all the system components [here](https://hub.docker.com/u/fluentproject). These are the images used when creating a Kubernetes cluster. Let me know if this is what you were looking for.

[2019-05-30 05:35] authwork opened #112 "[zeromqcpp] from 4.3.1, use recv taking a reference to message_t and recv_flags"
Here is a problem about zeromqcpp.
In the laste version, we can see:
[code]
flags_ cannot be automaticlly set to be 0 when using "-std=c++11", and we need to pass 0 when calling recv.
However, in this way, the system cannot work right. It shows error like:
[code]

I am now trying another solutions is to use an older version of zeromqcpp and will update here.

[2019-05-30 05:41] authwork commented on #112
An older version of zeromqcpp will remove the compile issue, but the system still works incorrect.
My step likes following:
[code]
By the way, we cannot find "./build/kvs/src/cli/flkvs-cli", I guess it may change to another location, i.e., "./build/kvs/client/cpp/flkvs-cli".

[2019-06-05 21:19] vsreekanti commented on #112
Thanks for pointing this out, @authwork. It seems like this is an accidental misconfiguration in the latest version of ZMQ, as you can see [here](https://github.com/zeromq/cppzmq/pull/328). I explicitly set the ZMQ version to 4.2.3 on my local machine, and that seems to have fixed the issue. I'll make a PR, and we'll see if it fixes it in the Travis context as well.

[2019-06-06 04:07] #112 closed

[2019-06-06 16:22] #102 closed

[2019-06-07 07:14] kokizzu opened #115 "Consider renaming the project"
this project not google/search-engine friendly (obviously to attract more contributor)

there's already a lot of project called `fluent` or `anna`

suggestion: `fluentkv` or `fluentanna`

[2019-06-07 17:46] vsreekanti commented on #115
@kokizzu, thanks for pointing this out. In addition to being a common name, Fluent conflicts with the popular Ruby logging framework, [fluentd](https://github.com/fluent). We're working on coming up with a new name for the project but haven't quite figured one out yet. If you have any suggestions, we'd love to hear them!

[2019-06-07 17:46] #115 closed

[2019-06-10 17:27] #110 closed

[2019-06-10 20:30] vsreekanti commented on #109
Closing this for now. Let me know if you have other questions, @Waterdrips.

[2019-06-10 20:30] #109 closed

[2019-06-10 20:41] vsreekanti commented on #104
This was already fixed in #101: See [here](https://github.com/fluent-project/fluent/blob/master/functions/scheduler/server.py#L131).

[2019-06-10 20:41] #104 closed

[2019-06-11 08:30] Waterdrips opened #118 "Suggestion: move to DaemonSet deployments for tasks required on every node"

[2019-06-11 08:32] Waterdrips commented on #118
Hi,

You mentioned at the Craft Conf talk that the deployments are not managed as a deamonset.
It might be good to deploy them in this way so you can guarantee every node gets 1 set of the application components.

Kubernetes docs on DaemonSets : https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

[2019-06-11 08:34] Waterdrips opened #119 "Suggestion: Use Horizontal Pod Autoscaler to manage cluster size"
Kubernetes contains a feature to auto-scale up/down the cluster based on defined metrics.
It might be worth exploring if this can be used (along with DaemonSets) to scale the cluster based on demand rather than using python scripts

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[2019-06-11 16:26] #67 closed

[2019-06-11 16:27] vsreekanti commented on #108
Closed by #116.

[2019-06-11 16:27] #108 closed

[2019-06-11 23:31] jhellerstein commented on #6
Although some params may be static in a deployment, others will be dynamic. This issue would allow us to support dynamic config params.

[2019-06-11 23:38] jhellerstein opened #120 "Unify lattices in C++ under a single template"
This has proven difficult/impossible. As a result, adding Anna lattice types requires recompilation, and potentially code changes.

[2019-06-12 15:43] vsreekanti commented on #120
The gist of the problem is that our KVS has an abstract superclass, `Lattice<T>`. There are many subclasses of Lattice, such as `BoolLattice`, `SetLattice<S>`, etc. (which are `Lattice<bool>`, `Lattice<std::unordered_set<S>>`, and so on). To write a KVS get method that returns a Lattice*, it seems like you can't have a return type without the type template uninstantiated, which functionally means

[2019-06-13 22:45] vsreekanti commented on #118
Thanks for pointing this out, @Waterdrips. It looks like DaemonSets simplify a lot of the deployment challenges we've had. Thanks for pointing this out! I'm working on moving to this model right now. 😄

[2019-06-13 22:49] vsreekanti commented on #119
Thanks for all the suggestions again, @Waterdrips. I'm not sure this one will work for our purposes for a couple reasons.

1. According to the link you shared above, the horizontal pod autoscaler "... does not apply to objects that can’t be scaled, for example, DaemonSets.".
2. Our policy for autoscaling relies on a combination of a variety of metrics that are mostly collected internally (e.g., ke

[2019-06-13 22:49] #119 closed

[2019-06-14 07:31] Waterdrips commented on #119
@vsreekanti - I was thinking of the cluster autoscaler - it wont work if deployments are moving to DaemonStets also.

[2019-06-14 10:31] yuinm opened #122 "A detailed document"
fluent and anna is  cool ，Is there a detailed document?
It’s hard to learn without documentation.

[2019-06-14 17:15] vsreekanti commented on #122
Hi @yuinm -- thanks for your note. What sort of detailed documents are you looking for? You can find some [getting started](https://github.com/fluent-project/fluent/blob/master/docs/index.md) docs in the repo. If there are other things you'd like more detail on, please let us know, and we'll try to add docs for those things.

[2019-06-19 02:29] yuinm commented on #122
Thank you for your reply.
I want to know what the principle is.
And want to know how to compare with tbb.

[2019-06-19 18:06] #118 closed

[2019-06-20 02:28] longwutianya opened #127 "can't find function_server.py"
in getting-started.md
# start the FaaS server
$ cd functions && python3 function_server.py

I can't find function_server.py , only have server.py in the directory.
When I use the command "python3 server.py" to start the script,  I get errors as follows:
Traceback (most recent call last):
  File "server.py", line 20, in <module>
    from benchmarks.server import *
  File "/xxx/fluent-master/functio

[2019-06-23 19:29] dumblob opened #129 "Support for distributed transactions"
I couldn't find any information about distributed transactions. Are they supported? If not, is it among the goals of Fluent or not? What is the current progress?

Btw. nice properties of the key value store - that's something what mankind is almost for 30 years waiting for :wink:.

[2019-06-24 20:24] vsreekanti commented on #122
You can find a more detailed comparison with TBB in this [paper](http://db.cs.berkeley.edu/jmh/papers/anna_ieee18.pdf). We are working on another paper with the architecture of the system and will post it when we can.

[2019-06-24 20:24] #122 closed

[2019-06-24 20:30] vsreekanti commented on #129
Hi @dumblob -- we don't currently support distributed transactions. It is a research area that we have discussed in the past but are not actively working on. All the consistency mechanisms currently supported in the system are coordination-free. Happy to discuss these in more detail if you are interested.

[2019-06-24 21:00] dumblob commented on #129
If there are no plans for distributed transactions, how do you do "horizontal scaling" ("sharding", "partitioning", you name it)?

[2019-06-24 22:06] jhellerstein opened #132 "shebangs should use python3, not python3.6"
Need to fix throughout codebase.

[2019-06-25 15:41] cw75 commented on #129
Hello @dumblob -- first of all, when you say "distributed transactions", do you specifically mean serializable transactions?

Also, horizontal scaling seems to be orthogonal to whether or not the system supports transactions. Could you elaborate more on their connections in your mind?

Thanks a lot!

[2019-06-26 03:53] #132 closed

[2019-07-03 10:27] dumblob commented on #129
Yes, actually I'm aiming at [**strictly** serializable distributed transactions](https://jepsen.io/consistency ), but even some other level of consistency would be interesting to me.

It is orthogonal up to a degree. First of all, there is significant difference between *support for transactions* and *support for **distributed** transactions* in systems spanning more than one physical machine. In

[2019-07-10 21:49] vsreekanti commented on #129
We don't have any plans to support strictly serializable distributed transactions.

The system is both sharded and replicated using a traditional distributed hash table. It comes with a built-in autoscaling system that monitors system load and adds and removes replicas as necessary. When a node joins/leaves the cluster, we redistribute the data across the hash ring. Hope this answers your question

[2019-07-10 21:49] #129 closed

[2019-07-16 04:42] bsnote opened #136 "Can't find kvs.pb.h in repository"
There is this include statement in _common.hpp_ for example:

`#include "kvs.pb.h"`

but the _kvs.pb.h_ file cannot be found in repository.

[2019-07-16 04:54] cw75 commented on #136
Hi @bsnote ,

Files with suffix `.pb.h` are protobuf generated files that will be auto-generated during the compilation.

[2019-07-16 08:14] bsnote commented on #136
Hi @cw75,
Thanks for clarifying that! Closing the issue...

[2019-07-16 08:14] #136 closed

[2019-07-19 04:20] yt605155624 opened #137 "No module named 'fluent.sender'"
which version of fluent should I use for fluent.sender?